
  <ul>
    <li> <i class="fa fa-wrench" aria-hidden="true"></i>  Restoring classic cars</li>
    <li><i class="fa fa-cutlery" aria-hidden="true"></i>  Any and all food</li>
    <li><i class="fa fa-plane" aria-hidden="true"></i>  Travel hacking</li>
    <li><i class="fa fa-beer" aria-hidden="true"></i> Tasting beers</li>
    <li><i class="fa fa-heartbeat" aria-hidden="true"></i>  Fitness</li>
    <li><i class="fa fa-paw" aria-hidden="true"></i>Dogs</li>
    <li><i class="fa fa-university" aria-hidden="true"></i>Social justice and Education equality</li>

  </ul>
