.pop-up-background{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.7);

  .pop-up{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    ul{
      list-style-type: none;
    }
  }
}
