<div class="resume">
  <h2>SUMMARY</h2>
  <hr />
  <p>
    Full-stack Javascript and Ruby developer skilled in front-end web development with knowledge of  testing, optimization and a strong desire to learn and grow as a developer. With a background in project management and coordination, maintains a deep understanding of project organization and working under pressure.
  </p>

  <h2>TECHNICAL SKILLS</h2>
  <hr />

  <h3>Tools</h3>
  <ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>PostgreSQL</li>
    <li>jQuery</li>
    <li>AJAX</li>
    <li>Bootstrap</li>
    <li>Git/Github</li>
  </ul>

  <h3>Languages</h3>
  <ul>
    <li>JavaScript</li>
    <li>Ruby</li>
    <li>TypeScript</li>
  </ul>

  <h3>Frameworks</h3>
  <ul>
    <li>Rails</li>
    <li>Angular</li>
  </ul>

  <h3>Testing</h3>
  <ul>
    <li>Rspec</li>
    <li>Jasmine</li>
    <li>Capybara</li>
  </ul>


  <h2>PROFESSIONAL EXPERIENCE</h2>
  <hr />

  <h3>Stock AI, Denver, CO</h3>
  <h4>May 2017-Current</h4>
  <h4>Contract Web Developer</h4>

  <ul>
    <li>Wrote HTML and CSS markup for design requirements.</li>
    <li>Refactored markup into reusable components using Angular Front-End Framework.</li>
    <li>Implemented single sign-on integrated with Node.JS Server APIs.</li>
  </ul>

  <h3>College In Colorado, Colorado Department of Higher Education, Denver, CO</h3>
  <h4>December 2013 – June 2017</h4>
  <h4>Project Coordinator, Corrections Outreach</h4>


  <ul>
    <li>Contributed to Own Your Future website content and external resources using HTML/CSS for website with over 500,000 registered users.</li>
    <li>Tested browser compatibility across various computer and mobile devices.</li>
    <li>Provided QA to developers for new products and continued maintenance.</li>
    <li>Assisted with brainstorming UI/UX elements and implementation.</li>
    <li>Ensured new products functioned properly and met the requirements outlined in the government style guide.</li>
    <li>Trained over 500 Department of Corrections staff on how to utilize the website in current curriculum.</li>
    <li>Provided demonstrations of website functionality to a variety of audiences with varying levels of education and technical knowledge.</li>
    <li>Produced contracts in partnership with Department of Corrections to meet deliverables and to ensure the success of the Own Your Future program and continual funding.</li>
  </ul>


  <h3>Colorado Department Higher Education, Denver, C0</h3>
  <h4>November 2012 – December 2013</h4>
  <h4>Receptionist</h4>

  <ul>
    <li>Updated Department website using HTML/CSS.</li>
    <li>Created wireframes for new webpages and initiatives using Photoshop and updated according to feedback.</li>
    <li>Created spreadsheets for updated annual budget using Microsoft Excel formulas.</li>
    <li>Assisted with additional projects as needed.</li>
    <li>Promoted to Project Coordinator within 12 months.</li>
  </ul>

  <h2>Projects</h2>
  <hr />

  <h3>Battleship</h3>
  <h4>May 2017-Current</h4>

  <ul>
    <li>Developed Battleship game using Javascript, jQuery, HTML and CSS.</li>
    <li>Implemented requirements such a randomly placing ships and not allowing ships to touch.</li>
    <li>Added animations and styling techniques.</li>
  </ul>

  <h3>Portfolio</h3>
  <h4>July 2017-Current</h4>

  <ul>
    <li>Designed and developed portfolio using Angular framework with Bootstrap library.</li>
    <li>Implemented reactive architecture using RxJS.</li>
    <li>Deployed to AWS using Route 53 and S3.</li>
  </ul>

  <h3>Why Pay Someone</h3>
  <h4>May 2017-Current</h4>

  <ul>
    <li>Designed and developed DIY blog using Angular framework.</li>
    <li>Implemented SEO techniques to attract audience.</li>
  </ul>




  <h2>Education</h2>
  <hr />

  <h3>Full Stack Web Development, LEARN Academy, San Diego, CA</h3>
  <h4>Current</h4>

  <ul>
    <li>Bachelor of Arts in Political Science and Criminal Justice, Colorado State University, Fort Collins, CO 2012</li>
  </ul>
</div>
